.app-sidebar {
  
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  nav li a:hover {
    background-color: #ddd;
  }

  nav li a.active-link {
    background-color: #007bff; 
    color: white;
    font-weight: bold;
  }
}